services:
	- App\Router\RouterFactory::createRouter

# DB pro zapis
	connectionDatabase: App\Models\Services\DatabaseConnection(%database.dsn%,%database.user%,%database.password%)
	structureDatabase: Nette\Database\Structure(@connectionDatabase, @cacheStorage)
	conversionDatabase: \Nette\Database\Conventions\StaticConventions()
	database: App\Models\Services\DatabaseContext(@connectionDatabase, @structureDatabase, @conversionDatabase,  @cacheStorage)

