
parameters:
                elastica:
                    debug: %debugMode%
                    host: localhost
                    port: 9200
                    username: null
                    password: null
                    path: null
                    url: null
                    proxy: null
                    persistent: null
                    timeout: null
#                    connections: null
                    roundRobin: null
                    log: null
                    retryOnConflict: null
                    bigintConversion: null

#                	hosts:
#                		es01:
#                			host: localhost

services:

	# ElasticsSearch
	elasticClient: Elastica\Client(%elastica%)
	elasticSearch: App\Models\Services\ElasticSearch(@elasticClient)